# use glob syntax.
syntax: glob

*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store

# building
out
target
null
tmp*
dist
test-output

# sbt
target
lib_managed
src_managed
project/boot

# IntelliJ
.idea*

credentials.sbt