/**/

em { font-weight: bold; font-style: normal; }
h1, h2 { border-bottom: thin dashed grey; margin-top: 30px; }

.buttons .current { border: 2px solid black; background-color: #d0d0d0; }
.buttons li { list-style: none; }
.buttons a {
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 7px;
    background-color: #aaaaaa;
    border-radius: 5px;
    border: 2px solid #bbbbbb;
    box-shadow: 2px 2px 3px #000;
    text-shadow: 0 1px 3px #000;
    font-weight: bold;
}

.left { float: left; }
.right { float: right; }

.aside {
    color: blue;
    font-weight: bold;
    position: relative;
    top: 15px;
}

.diagram {
    width: 150px;
    border: thin solid black;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.vertical { top: -20px; }
.arrow {
    font-size: xx-large;
    position: relative;
    margin: 0;
    padding: 0;
    height: 10px;
    text-align: center;
}

.page { border: thin solid black; box-shadow: 3px 3px 4px #000; width: 200px; }
.page h2 { margin: 10px; }
.little { font-size: x-small; margin: 10px; text-align: center; }

.show { width: 240px; }
.tell { width: 440px; }

.sidebar { float: left; margin-top: 50px; }
.mainPanel { float: left; width: 710px; }
