/*@include("HTML5-boilerplate")*/

html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 12px;
}

h1, table { margin: 10px; }
h1 { font-size: 20px; cursor: pointer; }
table { border-collapse: collapse; }
td { border: thin solid #979797; padding: 1px 3px; }

table.mixins { float: right; }
.names { font-weight: bold; background-color: #dddddd; }

.calloutLink {
    font-weight: bold;
    color: blue;
    border-bottom: thin dashed blue;
    text-decoration: none;
}

.fixture {
    font-weight: bold;
    font-size: medium;
}

.result {
    display: block;
    margin-top: 5px;
    line-height: 60%;
}

.ignore { display: none; visibility: hidden; }

.pass { background-color: #ADDF90; }
.setup { background-color: #7EABBE; }
.fail { background-color: #E594A7; }
.exception { background-color: #ffcc66; }